body{
    background: #3FB153 no-repeat center center fixed;
    background-size: cover;
}

.button{
    margin: 5px;
    background-color: #05FF31;
    border-width: 2px;
    text-decoration: none;
    color: black;
}

.UpContainer{
	display: flex;
	justify-content: flex-end;
	align-items: center;
	
	width: 100%; 
    height: 50px; 
    background: white;
}

.juego {
	display: flex;
	justify-content: center;
	margin-top: 100px;
	
}

.contenido {
	display: flex;
	flex-direction: column;
}

.contenido-juego {
	display: flex;
	flex-direction: row;

}

.nombre {
	display: flex;
	justify-content: center;
	font-size: 30px;
	margin-bottom: 10px;
	width: 250px
}

.descripcion {
	width: 500px
}

.nombreAndFoto {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.precioAndDescription {
	margin-top: 100px;
	margin-left: 30px;
	color: white;
}

.precio {
	display: flex;
	flex-direction: row;
	font-weight: bold;
}

.boton {
	margin-right: 55px;
	margin-top: 10px;
	background-color: #05C6FF;
	
}

.botonFav {
	margin-right: 55px;
	margin-top: 10px;
	background-color: orange;
	
}

.boton-volver {
	margin-top: 30px;
	margin-left: 64px;
}
