<!DOCTYPE html>
<!-- PARA PODER RENDERIZAR CODIGO JAVA USANDO THYMELEAF (permite renderizar codigo java en una vista HTML) -->
<html xmlns:th="https://www.thymeLeaf.org">
<!-- sintaxis: th:algo -->
<head>
<meta charset="UTF-8">
<!-- PARA QUE SE PUEDAN PONER TILDES -->
<title>Lista de productos</title>
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
	crossorigin="anonymous">
	
	 <!-- Nuestro css-->
    <link rel="stylesheet" type="text/css" href="static/css/home.css" th:href="@{/css/home.css}">
</head>
<body>

	<div class="UpContainer">
		<a th:href="@{/GameShop/user/homeUser}" class="button"> Inicio </a>
		<a th:href="@{/GameShop/user/JuegosReservados}" class="button"> Reservas </a> 
		<a th:href="@{/GameShop/user/JuegosFavoritos}" class="button"> Favoritos </a> 
		<a th:href="@{/GameShop/user/perfil}" class="button"> Perfil </a> 
		<a th:href="@{/GameShop/user/cerrarSesion}" class="button"> Cerrar sesión </a> 
	</div>

	<div class="DownContainer">
		<div th:each="juegoFav: ${juegosFavs}">
			 <img alt="MDN" width="200" height="250" th:src="${juegoFav.img}">
			<div>
				<div th:text="${juegoFav.nombre}"></div>
				<div class="precio">
					<div th:text="${juegoFav.precio}"></div>
					<p>€</p>
				</div>
				<a th:href="@{/GameShop/user/borrarJuegoFavorito/{id} (id=${juegoFav.id}) }"> 
					<button>borrar</button>
				</a>
			</div>
		</div>
	</div>

</body>
</html>